.conteudo-principal__container-conteudo-principal {
    display: flex;
    max-width: 676px; 
    max-height: 410px;
    border-radius: 1.0rem;
    overflow: hidden;
    background-color: $branco;
}
