.card {

    background-color: $very-dark-blue--;
    height: 50.0rem; 
    min-width: 30.0rem;
    max-width: 38.0rem;
    display: flex;
    flex-direction: column;
    padding: 2.0rem;
    border-radius: 1.5rem;
}

.card__container-product-image {

    flex: 2;
    border-radius: 1.0rem;
    overflow: hidden;
    position: relative;
}

.container-product-image__img {

    min-width: 26.0rem;
    width: 100%;
    height: 100%;
    z-index: 0;

}


.container-product-image__icon-view {

    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: hsla(178, 100%, 50%, 0.401);
    position: absolute;
   

}

.card__product-information {

    flex: 1;

}

.product-information__title {

    font-size: 2.0rem;
    font-weight: 600;
    color: $white;
    margin: 2.0rem 0;
}

.product-information__paragraphy {

    color: $soft-blue;
    line-height: 2.0rem;
    font-size: 1.3rem;
    margin-bottom: 2.5rem;
}

.product-information__additional-information {

    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    padding-bottom: 1.0rem;
    border-bottom: .1rem solid $very-dark-blue---;
    margin-bottom: 1.5rem;

}

.additional-information__container-value {

    color: $cyan;    
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.additional-information__day {

    color: $soft-blue;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.product-information__container-creator {

    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.container-creator__img-creator {
    height: 3.5rem;
    border: .1rem solid $white;
    border-radius: 100%;
}

.container-creator__name {

    color: $white;
    font-size: 1.3rem;
}

.name--color {

    color: $soft-blue;
}

@media (min-width: 500px) {
    .product-information__paragraphy {

        font-size: 1.5rem;
    }
}