$purple: #6642fe;
$blue: #312aea;
$primary-color: #fdfef5;
$light-red: #fff6f5;
$light-yellow: #fffbf2;
$light-green: #f2fbfa;
$light-blue: #f3f3fd;
$white: #ffffff;


$font-default: 'Hanken Grotesk', sans-serif;