@media screen and (min-width: 620px) {
  .main-content__main-section {
    display: flex;
  }

  .main-section__container-skills {
    box-shadow: 0.5rem 0.5rem 0.7rem rgba(0, 0, 0, 0.063);
  }

  .main-section__container-skills .container-skills__button {
    margin-top: 1.5rem;
  }
}
